#content-box {
	margin: auto;
}

.row, .column {
	box-sizing: border-box;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.column {
	float: left;
}

.column + .column {
	margin-left: 2%;
}

.column-1 {
	width: 6.5%;
}

.column-2 {
	width: 15.0%;
}

.column-3 {
	width: 23.5%;
}

.column-4 {
	width: 32.0%;
}

.column-5 {
	width: 40.5%;
}

.column-6 {
	width: 49.0%;
}

.column-7 {
	width: 57.5%;
}

.column-8 {
	width: 66.0%;
}

.column-9 {
	width: 74.5%;
}

.column-10 {
	width: 83.0%;
}

.column-11 {
	width: 91.5%;
}

.column-12 {
	width: 100.0%;
}

.to-left {
	text-align: left;
}

.to-center {
	text-align: center;
}

.to-right {
	text-align: right;
}

.to-justify {
	text-align: justify;
}

.vspace-1 {
	margin: 5em 0em;
}

.vspace-2 {
	margin: 10em 0em;
}

.vspace-3 {
	margin: 15em 0em;
}

.vspace-4 {
	margin: 20em 0em;
}

.red-words {
	color: red;
}

.blue-words {
	color: blue;
}

.green-words {
	color: green;
}

.bold {
	font-weight: bold;
}